body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    gap: 20px;
    font-family: sans-serif;
    background-color: #D9D9D9;
}

#animation-container {
    box-sizing: border-box;
    width: 600px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    height: 250px;
    border: 2px solid #9E9E9E;
    background-color: #F3F3F3;
    padding: 10px;
    overflow: hidden;
    min-width: 0;
}

canvas {
    border: 2px solid #C8C8C8;
    background-color: black;
    width: 700px;
    height: 700px;
}

#rule-container {
    box-sizing: border-box;
    width: 350px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    height: 700px;
    border: 2px solid #9E9E9E;
    background-color: #F3F3F3;
    padding: 10px;
    overflow: hidden;
    min-width: 0;
}

.h1 {
    color: #000000;
    font-size: 20px;
}

.button {
    padding: 0rem 0.25rem;
    border: 1px solid #767676;
    border-radius: 0.25rem;
    background-color: #ffffff;
    cursor: pointer;
}

.input {
    padding: 0rem 0.25rem;
    border: 1px solid #767676;
    border-radius: 0.25rem;
    background-color: #ffffff;
    cursor: text;
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay.active {
    display: flex;
}

.modal {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
}

/* Table Structure */
table { 
    border-collapse: collapse; 
    width: 320px; 
    table-layout: fixed;
    border: 1px solid #9E9E9E; 
}

td { 
    border: 1px solid #9E9E9E; /* Grid color */
    height: 37px; 
    text-align: center; 
    cursor: pointer; 
    font-size: 1em;
    color: #FFFFFF;
}

/* Styling for the First Row */
tr:first-child td {
    background-color: #9E9E9E;
}

/* Styling for all other rows */
tr:not(:first-child) td {
    background-color: #000000;
}

.list-item { 
    display: flex; 
    justify-content: space-between; 
    padding: 8px 0; 
    border-bottom: 1px solid #eee; 
}

