body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    gap: 20px;
    font-family: sans-serif;
    background-color: #323232;
}

.container {
    box-sizing: border-box;
    width: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    height: 500px;
    border: 2px solid #C8C8C8;
    background-color: black;
    padding: 10px;
    overflow: hidden;
    min-width: 0;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.button {
    padding: 0rem 0.25rem;
    border: 1px solid #767676;
    border-radius: 0.25rem;
    background-color: #ffffff;
    cursor: pointer;
}

#stepCount {
    color: white;
}

.construction-label {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 10px;
    align-items: center;
}

input {
    padding: 0rem 0.25rem;
    border: 1px solid #767676;
    border-radius: 0.25rem;
    background-color: #ffffff;
    cursor: text;
    min-width: 80px;
    max-width: 100%;
    text-align: center;
}