body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    gap: 20px;
    font-family: sans-serif;
    background-color: #D9D9D9;
}

#animation-container {
    box-sizing: border-box;
    width: 400px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    height: 250px;
    border: 2px solid #9E9E9E;
    background-color: #F3F3F3;
    padding: 10px;
    overflow: hidden;
    min-width: 0;
}

canvas {
    border: 2px solid #C8C8C8;
    background-color: black;
}

#rule-container {
    box-sizing: border-box;
    width: 550px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    height: 700px;
    border: 2px solid #9E9E9E;
    background-color: #F3F3F3;
    padding: 10px;
    overflow: hidden;
    min-width: 0;
}

.h1 {
    color: #000000;
    font-size: 20px;
}

.button {
    padding: 0rem 0.25rem;
    border: 1px solid #767676;
    border-radius: 0.25rem;
    background-color: #ffffff;
    cursor: pointer;
}

.input {
    padding: 0rem 0.25rem;
    border: 1px solid #767676;
    border-radius: 0.25rem;
    background-color: #ffffff;
    cursor: text;
    text-align: center;
}